*.iml
.gradle
/.kotlin/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.jks
*.keystore
*.mangossh
*.pem
*.p12
*.pfx
/app/release
/third_party/tailscale/.cache
/.tools/
